{% extends 'admin_base.html.twig' %}

{% block title %}Gigs{% endblock %}

{% block body %}
    <h1>Gigs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gig.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ gig.price }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gig.name }}</td>
            </tr>
            <tr>
                <th>Shortdescription</th>
                <td>{{ gig.shortdescription }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gig.description|raw }}</td>
            </tr>
            <tr>
                <th>Featured</th>
                <td>{{ gig.featured ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ gig.stock }}</td>
            </tr>
            <tr>
                <th>Selled</th>
                <td>{{ gig.selled }}</td>
            </tr>
            <tr>
                <th>Icon_image</th>
                <td><img src="{{ app.request.basePath }}{{ vich_uploader_asset(gig, 'icon') }}" /></td>
            </tr>
            <tr>
                <th>Background_image</th>
                <td><img src="{{ app.request.basePath }}{{ vich_uploader_asset(gig, 'background') }}" /></td>
            </tr>
        </tbody>
    </table>


    <div class="panel panel-default">
					<div class="panel-heading">Gig Images</div>
					<div class="panel-body">
						<div class="col-md-6">
              <table class="table">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Image</th>
                          <th>Thumb</th>
                          <th>actions</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for gig_image in gig_images %}
                      <tr>
                          <td>{{ gig_image.id }}</td>
                          <td>{{ gig_image.image }}</td>
                          <td>{{ gig_image.thumb }}</td>
                          <td>
                              <a href="{{ path('gig_images_show', {'id': gig_image.id}) }}">show</a>
                              <a href="{{ path('gig_images_edit', {'id': gig_image.id}) }}">edit</a>
                          </td>
                      </tr>
                  {% else %}
                      <tr>
                          <td colspan="4">no records found</td>
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>

              <a href="{{ path('gig_images_new',{'id': gig.id}) }}">Create new</a>

						</div>
					</div>
        </div>
    </div>

    <a href="{{ path('gigs_list') }}">back to list</a>

    <a href="{{ path('gigs_edit', {'id': gig.id}) }}">edit</a>

    {{ include('gigs/_delete_form.html.twig') }}
{% endblock %}
