{% extends 'base.html.twig' %}
{% block body %}
<header class="masthead text-center text-white d-flex">
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="col-lg-8 mx-auto">
                    <p class="text-faded pepper-title">PEPPERWEB GIGS</p>
                </div>
                <h1>
                    <strong>Grow Your <span>Startup</span></strong>
                </h1>
            </div>
            <div class="col-lg-6 mx-auto">

                <p class="text-faded mb-5 masthead-text">Grow your startup with curated & pre-packaged marketing gigs. Work with experts to grow your startup with high quality & hand-picked growth services.</p>
                <a class="js-scroll-trigger text-uppercase more-link" href="#featured">Scroll to learn more</a>
            </div>
        </div>
    </div>
</header>

<section class="p-0" id="featured">
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-start featured-header">
                <h2 class="">Featured Gigs</h2>
                <div class="currency-box d-inline-flex justify-content-start">
                    <form>
                        <label>Currency :</label>
                        <div class="d-inline-flex form-group">
                          <select class="border-0" onchange="changeCurrency(this)" id="myCurrency">
                              <option>USD</option>
                              <option>EUR</option>
                          </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav justify-content-end">
                    {% for category in categories %}
                    <li class="nav-item"><a class="{{ (loop.first) ? 'border-left-0' : '' }} {{ (loop.last) ? 'mr-0' : '' }} filter-button" data-filter="filter-{{category.name|lower|replace({' ': "-"})}}" href="{{path('index')}}category/{{category.id}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr />

        <div class="row">
          {% for featured in my_pager.currentPageResults %}
          <div class="col-lg-4 col-md-6 col-sm-12 filter filter-social-media">
            <a href="{{ path('gigs',{'id':featured.id })}}" style="display:block;text-decoration: none!important;">
              <div class="featured-bloc" style="background: url({{ app.request.basePath }}{{ vich_uploader_asset(featured, 'background') }})">
                  <div class="featured-icon"><img src="{{ app.request.basePath }}/{{ vich_uploader_asset(featured, 'icon') }}" alt="" /></div>
                  <p class="featured-category">{{featured.category|upper}}</p>
                  <h3>{{featured.name|upper}}</h3>
                  <p class="featured-description">{{featured.shortdescription|raw}}</p>
                  <div class="featured-price d-inline-flex">{{featured.price|currency(app.session.get('_currency'))}}/m</div>
                  <div class="clearfix">&nbsp;</div>
                  <div class="featured-stock">{{featured.stock - featured.selled }} of {{featured.stock}} spots left</div>
              </div>
              </a>
          </div>
          {% endfor %}
        </div>
    </div>
</section>




<div class="pagerfanta">
    {{ pagerfanta(my_pager,'twitter_bootstrap3') }}
</div>

<script>
    var changeCurrency = function(elem){
      location.href =  '{{path('index')}}setcurrency/'+elem.value
    }
    document.querySelector('#myCurrency').value = '{{app.session.get('_currency')}}';

</script>
{% endblock %}
