{% extends 'base.html.twig' %}
{% block body %}

    <header class="inner-masthead text-center text-white d-flex">
      <div class="container-fluid my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="col-lg-8 mx-auto">
              <p class="text-faded pepper-title">PEPPERWEB GIGS</p>
            </div>
            <h1>
              <strong>Grow Your <span>Startup</span></strong>
            </h1>
          </div>
        </div>
      </div>
    </header>


    <section class="p-0" id="checkout">
      <form action="{{path('create.order',{ 'id': gigs.id })}}">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <h2>BASIC INFO</h2>
        </div>
        <div class="row checkout-form">

          <div class="col-lg-4">
            <input type="text" name="name" placeholder="Full Name" />
            <input type="email" name="email"  placeholder="Email" />
          </div>


          <div class="col-lg-4">
            <input type="text" placeholder="Phone Number" name="phone" />
            <select>
              <option>Choose Your Plan</option>
              <option>Choose Your Plan</option>
              <option>Choose Your Plan</option>
              <option>Choose Your Plan</option>
            </select>
          </div>


          <div class="col-lg-4">
            <textarea name="message">
              Additional Message
            </textarea>
          </div>
      </div>


      <div class="row purchase-container">
        <div class="col-lg-4 col-md-6">
          <div class="gigs-purchase-blocs-item text-center">
            <img src="{{path('index')}}img/purchase-ico-1.png" />
            <h3>{{gigs.price|currency(app.session.get('_currency'))}}/month</h3>
            <p>250 - 3k+ followers monthly<br />
    Real, genuine followers<br />
    Targeted to your industry<br />
    Cancel anytime</p>

          </div>
        </div>



        <div class="col-lg-4 col-md-6">
          <div class="gigs-purchase-blocs-item text-center">
            <img src="{{path('index')}}img/purchase-ico-2.png" />
            <h3>What we require?</h3>
            <p>Your Twitter username and password<br/>
    A history of relevant tweets (recommended)<br/>
    Information on your competitors.</p>

          </div>
        </div>



        <div class="col-lg-4 col-md-6">
          <div class="gigs-purchase-blocs-item text-center">
            <img src="{{path('index')}}img/purchase-ico-3.png" />
            <h3>Who is service provider?</h3>
            <p>Growthstore staff will be providing this service.
            We'll work with you to integrate it into the website, and gather all the necessary information from you so that we can create the project page.</p>

          </div>
        </div>
      </div>


      <!-- END CONTAINER FLUIDE -->
      </div>
    </section>

    <section class="p-0" id="plan-info">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <h2>PLAN INFO</h2>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="gigs-purchase-blocs-item text-center">
              <img src="{{path('index')}}img/purchase-ico-2.png" />
              <h3>What we require?</h3>
              <p>Your Twitter username and password<br/>
      A history of relevant tweets (recommended)<br/>
      Information on your competitors.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <textarea>Type Your Info Here</textarea>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="d-flex col-sm-10 col-lg-4 col-md-4">
          <button class="btn">pay pith paypal</button>
        <div>
      </div>
    </section>

{% endblock %}
