<!DOCTYPE html>
<html>
    <head manifest="index.appcache">
        <meta charset="UTF-8">
        <!-- Bootstrap core CSS -->
        <link href="{{path('index')}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{path('index')}}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

        <!-- Plugin CSS -->
        <link href="{{path('index')}}vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
        <link href="{{path('index')}}css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <title>{% block title %}Pepperweb Gigs{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="{{path('index')}}img/pepperweb.png" alt="Pepperweb" /><span>pepperweb</span></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{{ path('all-gigs') }}">browse all gigs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#partner">become a partner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <footer id="footer">
            <div class="container-fluid">
                <div class="col-md-12 mx-auto d-flex justify-content-center">
                    <ul class="d-flex justify-content-center p-0">
                        <li><a href="{{path('all-gigs')}}">BROWSE ALL GIGS</a></li>
                        <li><a href="#">BECOME A PARTNER</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="col-md-12 mx-auto d-flex justify-content-center">
                    <ul class="d-flex p-0 social-icons">
                        <li><a href="#" target="_blank"><img src="{{path('index')}}img/footer-ico-facebook.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{{path('index')}}img/footer-ico-twitter.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{{path('index')}}img/footer-ico-dribble.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{{path('index')}}img/footer-ico-vimeo.png" alt="" /></a></li>
                        <li><a href="#" target="_blank"><img src="{{path('index')}}img/footer-ico-google.png" alt="" /></a></li>
                    </ul>
                </div>
                <div class="col-md-12 mx-auto d-flex justify-content-center">
                    <p class="copy">Pepperweb 2017 - All Rights Reserved</p>
                </div>
            </div>
        </footer>

        {% block javascripts %}
        <script src="{{path('index')}}vendor/jquery/jquery.min.js"></script>
        <script src="{{path('index')}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{{path('index')}}vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="{{path('index')}}vendor/scrollreveal/scrollreveal.min.js"></script>
        <script src="{{path('index')}}vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


        <!-- Custom scripts for this template -->
        <script src="{{path('index')}}js/creative.min.js"></script>
        <script>
            $(document).ready(function(){

                $(".filter-button").click(function(){
                    var value = $(this).attr('data-filter');

                    if(value == "all")
                    {
                        //$('.filter').removeClass('hidden');
                        $('.filter').show('1000');
                    }
                    else
                    {
                        //            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
                        //            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
                        $(".filter").not('.'+value).hide('3000');
                        $('.filter').filter('.'+value).show('3000');

                    }
                });

                if ($(".filter-button").removeClass("active")) {
                    $(this).removeClass("active");
                }
                $(this).addClass("active");
                $( ".ui.form-control" ).selectmenu();
            });
        </script>

        {% endblock %}
        <!-- Bootstrap core JavaScript -->

    </body>
</html>
