{% extends 'base.html.twig' %}

{% block title %}GigImages{% endblock %}

{% block body %}
    <h1>GigImages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gig_image.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ gig_image.image }}</td>
            </tr>
            <tr>
                <th>Thumb</th>
                <td>{{ gig_image.thumb }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gig_images_index') }}">back to list</a>

    <a href="{{ path('gig_images_edit', {'id': gig_image.id}) }}">edit</a>

    {{ include('gig_images/_delete_form.html.twig') }}
{% endblock %}